:root{
    --pimaryFont:"Inter", sans-serif;
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --offBlack: hsl(0, 0%, 8%);
}
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    font-family: var(--pimaryFont);
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--offBlack);
    color: var(--white);
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--pimaryFont);
    font-weight: 700;
    margin-bottom: 15px;
}
p{
    font-weight: 400;
    margin-bottom: 15px;

}
.card{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:var(--darkGrey);
    border-radius: 10px;
    width: 380px;
    height: 600px;
    padding: 35px;
}
div img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}
div h1{
    font-weight: 500;
    font-size: 25px;
}
div h6{
    color:var(--green);
    font-size: 14px;
}
div p{
    margin-top: 20px;
}
.btn{
    text-decoration: none;
    color: var(--white);
    background:var(--grey);
    font-weight: 600;
    width:300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 12px;
}
.btn:hover{
    background:var(--green);
    color: var(--darkGrey);

}